/***********************************************************************************************************************
 *   This is the GENy OEM user config file for GM SLP6 (_MandatoryDeliverPreconfig.cfg).
 *   This file should be modified according to your requirements. It need to be added to your GENy configuration
 *   to FblDrvCan_XX->User Config File
 *......................................................................................................................
 * History    2014-09     01.00.00   A. Wenckebach (Vector)     First Version in Alm
 *            2014-12-11  01.01.00   A. Wenckebach              To not overwrite P2 timing for diag layer
              2015-01-19  01.02.00   A. Wenckebach              Remove disabling data processing, move, 
                                                                 move Secmod config to OEM preconfig
 ***********************************************************************************************************************/
/**************************************************/
/** Diagnostics related items                    **/
/**************************************************/

/**************************************************/
/** Secured download related configuration items **/
/**************************************************/
/* Develop feature to verify Integrity word in header. Check User Docu for further information*/
/* #define FBL_ENABLE_VERIFY_INTEGRITY_WORD */


/**************************************************/
/** NVM (test) configuration items               **/
/**************************************************/
/* Develop features to populate NVM on bootloader start  Check User Docu for further information*/

/* This can be used for test purpose to Write SBA ticket from flash sbaBlk0 to NVM */
/* #define  FBL_TEST_SBA_TICKET */

/* This can be used for test purpose to Write Ecu-Id (if you dont change it: from FblHeader).
 * Note: The FblHeader field ECUID could be used to fullfill the requirement, if the
 * content is modified in the hexfile for each controller part to be unique.
 */
#define  FBL_TEST_ECU_ID

/* writes 0x0000 key NBID on startup */
#define  FBL_TEST_KEY_NBID

/* writes 0x0000 app NBID on startup */
#define FBL_TEST_APP_NBID

/**************************************************/
/** Other items                                  **/
/**************************************************/

/* Hardware specific: Required to (re-)use Settings that have been used with the environment @Vector */
#define FBL_ENABLE_VECTOR_HW
#define CUSTOMER_HW
